#mission .title {
    color: white;
    background-image: url('/images/team/background_mission.png');
    background-size: cover;
}

#mission .image {
    background-image: url('/images/gallery/photo25.jpg');
    background-size: cover;
}

#mission .title p {
    font-size: 24px;
    opacity: 0.8;
    font-weight: 100;
}

#mind {
    height: 100%;
    padding: 2rem 0;
}

#mind .card {
    margin: 1rem;
}

#mind img {
    height: 250px;
    object-fit: cover;
}

#team {
    margin-bottom: 1em;
}

@media screen and (max-width: 420px) {
    .staff {
        font-size: 1.3rem;
    }
}